<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/panel" class="simple-text">
      FJS - Admin
    </a>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/panel/home">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>HOME</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/panel/uploadCourse">
        <i class="fas fa-file-upload"></i>
        <p>Cargar excel</p>
      </a>
    </li>
  </ul>
</div>
</div>
