<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/panel" class="simple-text">
      FJS - Admin
    </a>
  </div>
  <ul class="nav">
    <li v-if="navbar.length === 0" class="nav-item">
      <a class="nav-link" href="/" style="text-align: center">
        <p><i class="fas fa-spinner fa-spin"></i></p>
      </a>
    </li>
    <li v-for="item in navbar" class="nav-item" :class="{active: checkLocation(item.link)}">
      <a class="nav-link" :href="item.link">
        <i :class="item.icon"></i>
        <p>{{item.title}}</p>
      </a>
    </li>
  </ul>
</div>
</div>
